<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Beauty Time-Ellos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body class="ellos">
        <nav>
            <div class="logo">
                <a href="../index.html"> <img src="../assets/img/logoMB.png" alt="logoMB"></a>
            </div> 
            <ul>    
                <li><a href="../views/ellas.html">Ellas</a>
                    <ul>
                        <li><a href="../views/manicuria.html">Manicuria</a></li>
                        <li><a href="../views/pedicuria.html">Pedicuria</a></li>
                        <li><a href="../views/peluqueria.html">Peluqueria</a></li>
                    </ul>
                </li>
                <li><a href="../views/ellos.html">Ellos</a>
                    <ul>
                        <li><a href="../views/barberia.html">Barberia</a></li>
                        <li><a href="../views/otros_servicios.html">Otros Servicios</a></li>
                    </ul>
                </li>
                    <li><a href="../views/contacto.html">Contactenos</a></li>
            </ul>
    </nav>
    <section>
        <h2>Selecciona que servicio estas buscando:</h2>
    </section>
    <main class="iniciogrupo">
        <div class="cajaellos">
            <a href="../views/barberia.html"><img src="../assets/img/barberia.jpg" alt="Barberia">Barberia</a>
        </div>
        <div class="cajaellos">
            <a href="../views/otros_servicios.html"><img src="../assets/img/podologia.jpg" alt="Otros Servicios">Otros Servicios</a>
        </div>
    </main>
    <footer>
        <p> Todos los derechos reservados-2022</p>
        <img src="../assets/img/pie.png" alt="pie">
    </footer>
</body>
</html>